h1{
    color: red;
}

#card{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    padding-bottom: 20px;
}

#outlined-textarea{
    width: 250px;
    color:red
}

#outlined-multiline-static{
    width: 250px;
    color:red;
}