.main{
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 20px;
    padding-bottom: 20px;
}

.main:hover{
    cursor: pointer;
}
.card{
    display: flex;
    flex-direction: column;
    width: 1000px;
    
}

.heading{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    display: flex;
}

.heading h1{
    margin-left: 20px;
    font-size: 40px;
    color: black;
}

.buttons{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.author{
    margin-left: 10px;
    display: flex;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 12px;
    justify-content: flex-start;
    flex-direction: row;
    
}

.accounticon{
    size: 50px;
}

.content{
    width: 100%;
    overflow-wrap: break-word;
}
#content{
    width: 100% !important;
    font-size: 15px;
    color: black;
    margin-bottom: 50px;
    font-family: 'Schibsted Grotesk', sans-serif;
    text-align: center;
  
}

#content:hover{
    color: #645bff;
}

.like:hover{
    color: #645bff;
}

.dislike:hover{
    color: red;
}