.postblog{
    background-color: #645bff;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 20px 0;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    right: 50px;
    top: 80vh;
}

.postblog:hover{
    border-radius: 0 20px 20px 20px;
}